/* Base */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

a {
  color: black;
}

/* Utils */
@keyframes fadeout {
  0% {
    transform: scale(1);
    filter: opacity(1);
  }
  80%, 100% {
    transform: scale(0);
    filter: opacity(0);
  }
}
@keyframes fadeoutLoader {
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 100vh;
  }
  100% {
    height: 0px;
  }
}
/* Layout */
.header {
  padding: 42px 7% 0 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 200px;
  height: 50px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .header__logo img {
    width: 150px;
    height: 37.5px;
  }
}
.header__navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1171px) {
  .header__navigation {
    order: 2;
    margin-top: 35px;
  }
}
@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation--wrap {
  display: none;
  flex-wrap: wrap;
  margin: 35px 10% 0 10%;
}
@media screen and (max-width: 768px) {
  .header__navigation--wrap {
    display: flex;
  }
}
.header__title {
  font-size: 36px;
  font-weight: 400;
  font-family: "DM Sans";
  color: #901C1C;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 14px;
  }
}

/* Components */
.tag {
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: 500;
  color: #901C1C;
  border: solid 0.5px #C4C4C4;
  border-radius: 12px;
  padding: 0 3px 0 3px;
  margin-bottom: 6px;
  cursor: pointer;
}
.tag:not(:first-child) {
  margin-left: 5px;
}
.tag--active {
  background: #901C1C;
  border: solid 1px #901C1C;
  color: white;
}

.formModal {
  display: none;
  flex-direction: column;
  z-index: 15;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(calc(50vw - 50%), -50%);
  padding: 15px 35px 35px 35px;
  background: #DB8876;
  border-radius: 5px;
}
.formModal.show {
  display: flex;
}
@media screen and (max-width: 768px) {
  .formModal {
    top: 0;
    right: 0;
    transform: translate(0);
    border-radius: 0;
    padding: 20px;
    height: 100vh;
  }
}
.formModal__header {
  margin-bottom: 19px;
  width: 100%;
  display: flex;
}
.formModal__title {
  font-family: "DM Sans";
  font-size: 64px;
  font-weight: 400;
  line-height: 83.33px;
  color: black;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .formModal__title {
    font-size: 36px;
    line-height: 46.87px;
  }
}
.formModal__icon {
  font-size: 42px;
  color: white;
  margin-top: 20px;
  margin-left: 108px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .formModal__icon {
    font-size: 27px;
    margin-left: 0;
  }
}
.formModal label {
  font-family: "DM Sans";
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
  color: #312E2E;
}
@media screen and (max-width: 768px) {
  .formModal label {
    font-size: 24px;
    line-height: 31.25px;
  }
}
.formModal input[type=text], .formModal input[type=email],
.formModal #message {
  height: 68px;
  border: solid 2px white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0 5px;
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 46.87px;
  outline: none;
}
@media screen and (max-width: 768px) {
  .formModal input[type=text], .formModal input[type=email],
.formModal #message {
    height: 52px;
  }
}
.formModal #message {
  height: 170px;
  align-content: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .formModal #message {
    height: 21%;
  }
}
.formModal input[type=submit] {
  margin-top: 16px;
  padding: 23px 50px;
  background: #901C1C;
  color: white;
  border-radius: 5px;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  width: 170px;
  border: 0;
}
@media screen and (max-width: 768px) {
  .formModal input[type=submit] {
    align-self: center;
    padding: 5px 50px;
  }
}

.smoke {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.4);
  z-index: 10;
}
.smoke.show {
  display: block;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: white;
  animation: fadeoutLoader 1s linear forwards 2.5s;
}
.loader__figure {
  position: relative;
  width: 80px;
  height: 80px;
}
.loader__figure__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loader__figure__circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #D3573C;
  border-radius: 50%;
  transform: scale(0);
  animation: fadeout 1s linear 3;
}
.loader__figure__circle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #901C1C;
  border-radius: 50%;
  transform: scale(0);
  animation: fadeout 1s linear 3;
}
.loader__figure__circle.circle--1 {
  transform: rotate(calc(36deg * 1));
}
.loader__figure__circle.circle--1::before, .loader__figure__circle.circle--1::after {
  animation-delay: calc(0.1s * 1);
}
.loader__figure__circle.circle--2 {
  transform: rotate(calc(36deg * 2));
}
.loader__figure__circle.circle--2::before, .loader__figure__circle.circle--2::after {
  animation-delay: calc(0.1s * 2);
}
.loader__figure__circle.circle--3 {
  transform: rotate(calc(36deg * 3));
}
.loader__figure__circle.circle--3::before, .loader__figure__circle.circle--3::after {
  animation-delay: calc(0.1s * 3);
}
.loader__figure__circle.circle--4 {
  transform: rotate(calc(36deg * 4));
}
.loader__figure__circle.circle--4::before, .loader__figure__circle.circle--4::after {
  animation-delay: calc(0.1s * 4);
}
.loader__figure__circle.circle--5 {
  transform: rotate(calc(36deg * 5));
}
.loader__figure__circle.circle--5::before, .loader__figure__circle.circle--5::after {
  animation-delay: calc(0.1s * 5);
}
.loader__figure__circle.circle--6 {
  transform: rotate(calc(36deg * 6));
}
.loader__figure__circle.circle--6::before, .loader__figure__circle.circle--6::after {
  animation-delay: calc(0.1s * 6);
}
.loader__figure__circle.circle--7 {
  transform: rotate(calc(36deg * 7));
}
.loader__figure__circle.circle--7::before, .loader__figure__circle.circle--7::after {
  animation-delay: calc(0.1s * 7);
}
.loader__figure__circle.circle--8 {
  transform: rotate(calc(36deg * 8));
}
.loader__figure__circle.circle--8::before, .loader__figure__circle.circle--8::after {
  animation-delay: calc(0.1s * 8);
}
.loader__figure__circle.circle--9 {
  transform: rotate(calc(36deg * 9));
}
.loader__figure__circle.circle--9::before, .loader__figure__circle.circle--9::after {
  animation-delay: calc(0.1s * 9);
}
.loader__figure__circle.circle--10 {
  transform: rotate(calc(36deg * 10));
}
.loader__figure__circle.circle--10::before, .loader__figure__circle.circle--10::after {
  animation-delay: calc(0.1s * 10);
}

.lightbox {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(calc(50vw - 50%), -50%);
  padding: 60px 9% 60px 9%;
}
.lightbox__image {
  margin: 0 34px;
}
.lightbox__image img {
  max-height: 90vh;
  width: 100%;
  border-radius: 5px;
}
.lightbox__image__title {
  color: #901C1C;
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .lightbox__image__title {
    font-size: 14px;
    line-height: 18.23px;
  }
}
@media screen and (max-width: 768px) {
  .lightbox__image {
    margin: 0 9px;
  }
}
.lightbox__icon {
  color: #901C1C;
  font-size: 48px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .lightbox__icon {
    font-size: 15px;
  }
}
.lightbox__icon--close {
  font-size: 42px;
  position: absolute;
  top: 60px;
  right: 9%;
}
@media screen and (max-width: 768px) {
  .lightbox__icon--close {
    font-size: 15px;
  }
}
.lightbox.show {
  display: flex;
}

/* Pages */
#cardsTable {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 5% 0 5%;
  justify-content: center;
}
@media screen and (max-width: 1577px) {
  #cardsTable {
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  #cardsTable {
    justify-content: center;
    margin-top: 46px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
  flex-basis: 33%;
  max-width: 355px;
}
@media screen and (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}
.card > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.card__image {
  height: 200px;
  width: 200px;
  background: #757575;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.card__name {
  font-family: "DM Sans";
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
  color: #D3573C;
  text-align: center;
}
.card__location {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 16.93px;
  color: #901C1C;
}
.card__description {
  margin-top: 3px;
  font-family: "DM Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  color: black;
}
.card__price {
  margin-top: 3px;
  margin-bottom: 6px;
  font-family: "DM Sans";
  font-size: 9px;
  font-weight: 400;
  line-height: 11.72px;
  color: #757575;
}
.card__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photographerCard {
  margin: 40px 7% 0 7%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
}
@media screen and (max-width: 768px) {
  .photographerCard {
    background: white;
    padding: 0;
  }
}
.photographerCard__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .photographerCard__image {
    width: 100px;
    height: 100px;
  }
}
.photographerCard__contact {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.photographerCard__contact__button {
  background: #901C1C;
  border-radius: 5px;
  padding: 21px 11px;
  margin-left: 20px;
  margin-top: 7px;
  color: white;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 26.04px;
  cursor: pointer;
}
.photographerCard__contact--fixed {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 0;
  transform: translate(calc(50vw - 50%));
  padding: 7px 19px;
  margin: 0;
}
@media screen and (max-width: 1106px) {
  .photographerCard__contact--fixed {
    display: block;
  }
}
@media screen and (max-width: 1106px) {
  .photographerCard__contact {
    display: none;
  }
}
.photographerCard__text {
  align-self: center;
}
.photographerCard__text__name {
  font-family: "DM Sans";
  font-size: 64px;
  font-weight: 400;
  color: #D3573C;
  line-height: 83.33px;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__name {
    font-size: 36px;
    line-height: 46.87px;
  }
}
.photographerCard__text__location {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
  line-height: 31.25px;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__location {
    font-size: 13px;
    line-height: 13.93px;
  }
}
.photographerCard__text__description {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  line-height: 23.44px;
  margin: 19px 0 19px 0;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__description {
    font-size: 13px;
    line-height: 16.93px;
  }
}
.photographerCard__text__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.photographerCard__text__filters__tag {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__filters__tag {
    font-size: 13px;
    line-height: 16.93px;
  }
}

.sorting {
  display: flex;
  margin: 9px 7% 0 7%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .sorting {
    display: none;
  }
}
.sorting__text {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  color: black;
  margin-right: 25px;
}
.sorting__dropdown {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  color: white;
  background: #901C1C;
  position: relative;
  padding: 20px 20px 14px 20px;
  border-radius: 5px;
  min-width: 130.91px;
  cursor: pointer;
}
.sorting__dropdown__button {
  display: flex;
}
.sorting__dropdown__button p {
  flex: 1;
}
.sorting__dropdown__button__icon {
  margin-left: 26px;
  display: none !important;
}
.sorting__dropdown__button__icon.show {
  display: inline-block !important;
}
.sorting__dropdown--content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 50px;
  background: #901C1C;
  border-radius: 0 0 5px 5px;
}
.sorting__dropdown--content a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}
.sorting__dropdown--content.show {
  display: block;
}
.sorting__dropdown__divider {
  border: solid 1px white;
  margin: 0px 10px;
  width: 85%;
}

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 7% 300px 7%;
}
@media screen and (max-width: 768px) {
  .photos {
    margin: 45px 0 0 0;
  }
}
.photos__bloc {
  margin-bottom: 39px;
  margin-right: 0;
  width: 100%;
  max-width: 350px;
  flex-basis: 33%;
}
@media screen and (max-width: 2022px) {
  .photos__bloc {
    margin-right: 6.5%;
  }
}
@media screen and (max-width: 1403px) {
  .photos__bloc {
    flex-basis: 50%;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1255px) {
  .photos__bloc {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .photos__bloc {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 848px) {
  .photos__bloc {
    max-width: 90%;
    flex-basis: 100%;
    margin-right: 0;
  }
}
.photos__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 848px) {
  .photos__image {
    height: 190px;
  }
}
.photos__description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.photos__description__title {
  flex: 1;
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  color: #901C1C;
}
@media screen and (max-width: 768px) {
  .photos__description__title {
    font-size: 14px;
    line-height: 18.23px;
  }
}
.photos__description__likes {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  color: #901C1C;
}
@media screen and (max-width: 768px) {
  .photos__description__likes {
    font-size: 14px;
    line-height: 18.23px;
  }
}
.photos__description__icon {
  color: #901C1C;
  font-size: 18px;
  margin-left: 6px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .photos__description__icon {
    font-size: 13px;
  }
}
.photos :nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 1255px) {
  .photos {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 848px) {
  .photos {
    justify-content: center;
  }
}

.count {
  display: flex;
  background: #DB8876;
  position: fixed;
  bottom: 0;
  right: 36px;
  padding: 21px 31px;
}
@media screen and (max-width: 1106px) {
  .count {
    display: none;
  }
}
.count__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 65px;
}
.count__likes__number {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 31.25px;
  color: black;
}
.count__likes__icon {
  margin-left: 6px;
  font-size: 19px;
  color: black;
}
.count__price {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 31.25px;
  color: black;
}

/*# sourceMappingURL=style.css.map */
