/* Base */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

a {
  color: black;
}

/* Utils */
/* Layout */
.header {
  padding: 42px 7% 0 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 200px;
  height: 50px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .header__logo img {
    width: 150px;
    height: 37.5px;
  }
}
.header__navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1171px) {
  .header__navigation {
    order: 2;
    margin-top: 35px;
  }
}
@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation--wrap {
  display: none;
  flex-wrap: wrap;
  margin: 35px 10% 0 10%;
}
@media screen and (max-width: 768px) {
  .header__navigation--wrap {
    display: flex;
  }
}
.header__title {
  font-size: 36px;
  font-weight: 400;
  font-family: "DM Sans";
  color: #901C1C;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 14px;
  }
}

/* Components */
.tag {
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: 500;
  color: #901C1C;
  border: solid 0.5px #C4C4C4;
  border-radius: 12px;
  padding: 0 3px 0 3px;
  margin-bottom: 6px;
  cursor: pointer;
}
.tag:not(:first-child) {
  margin-left: 5px;
}
.tag--active {
  background: #901C1C;
  border: solid 1px #901C1C;
  color: white;
}

/* Pages */
#cardsTable {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 5% 0 5%;
  justify-content: center;
}
@media screen and (max-width: 1577px) {
  #cardsTable {
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  #cardsTable {
    justify-content: center;
    margin-top: 46px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
  flex-basis: 33%;
  max-width: 355px;
}
@media screen and (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}
.card > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.card__image {
  height: 200px;
  width: 200px;
  background: #757575;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.card__name {
  font-family: "DM Sans";
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
  color: #D3573C;
  text-align: center;
}
.card__location {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 16.93px;
  color: #901C1C;
}
.card__description {
  margin-top: 3px;
  font-family: "DM Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  color: black;
}
.card__price {
  margin-top: 3px;
  margin-bottom: 6px;
  font-family: "DM Sans";
  font-size: 9px;
  font-weight: 400;
  line-height: 11.72px;
  color: #757575;
}
.card__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photographerCard {
  margin: 40px 7% 0 7%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
}
@media screen and (max-width: 768px) {
  .photographerCard {
    background: white;
    padding: 0;
  }
}
.photographerCard__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .photographerCard__image {
    width: 100px;
    height: 100px;
  }
}
.photographerCard__contact {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.photographerCard__contact__button {
  background: #901C1C;
  border-radius: 5px;
  padding: 21px 11px;
  margin-left: 20px;
  margin-top: 7px;
  color: white;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 26.04px;
  cursor: pointer;
}
.photographerCard__contact--fixed {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 0;
  transform: translate(calc(50vw - 50%));
  padding: 7px 19px;
  margin: 0;
}
@media screen and (max-width: 1106px) {
  .photographerCard__contact--fixed {
    display: block;
  }
}
@media screen and (max-width: 1106px) {
  .photographerCard__contact {
    display: none;
  }
}
.photographerCard__text {
  align-self: center;
}
.photographerCard__text__name {
  font-family: "DM Sans";
  font-size: 64px;
  font-weight: 400;
  color: #D3573C;
  line-height: 83.33px;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__name {
    font-size: 36px;
    line-height: 46.87px;
  }
}
.photographerCard__text__location {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
  line-height: 31.25px;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__location {
    font-size: 13px;
    line-height: 13.93px;
  }
}
.photographerCard__text__description {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  line-height: 23.44px;
  margin: 19px 0 19px 0;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__description {
    font-size: 13px;
    line-height: 16.93px;
  }
}
.photographerCard__text__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.photographerCard__text__filters__tag {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}
@media screen and (max-width: 768px) {
  .photographerCard__text__filters__tag {
    font-size: 13px;
    line-height: 16.93px;
  }
}

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 7% 0 7%;
}
@media screen and (max-width: 768px) {
  .photos {
    margin: 45px 0 0 0;
  }
}
.photos__image {
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  margin-bottom: 39px;
  margin-right: 6.5%;
  flex-basis: 33%;
}
@media screen and (max-width: 1403px) {
  .photos__image {
    flex-basis: 50%;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1255px) {
  .photos__image {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .photos__image {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 848px) {
  .photos__image {
    flex-basis: 100%;
    max-width: 90%;
    height: 190px;
    margin-right: 0;
  }
}
.photos :nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 1255px) {
  .photos {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 848px) {
  .photos {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
