/* Base */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

a {
  color: black;
}

/* Utils */
/* Layout */
.header {
  padding: 42px 7% 0 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 200px;
  height: 50px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .header__logo img {
    width: 150px;
    height: 37.5px;
  }
}
.header__navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1171px) {
  .header__navigation {
    order: 2;
    margin-top: 35px;
  }
}
@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation--wrap {
  display: none;
  flex-wrap: wrap;
  margin: 35px 10% 0 10%;
}
@media screen and (max-width: 768px) {
  .header__navigation--wrap {
    display: flex;
  }
}
.header__title {
  font-size: 36px;
  font-weight: 400;
  font-family: "DM Sans";
  color: #901C1C;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 14px;
  }
}

/* Components */
.tag {
  font-size: 12px;
  font-family: "DM Sans";
  font-weight: 500;
  color: #901C1C;
  border: solid 1px #525252;
  border-radius: 20px;
  padding: 0 3px 0 3px;
  margin-bottom: 6px;
  cursor: pointer;
}
.tag:not(:first-child) {
  margin-left: 5px;
}

/* Pages */
#cardsTable {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 5% 0 5%;
  justify-content: center;
}
@media screen and (max-width: 1577px) {
  #cardsTable {
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  #cardsTable {
    justify-content: center;
    margin-top: 46px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
  flex-basis: 33%;
  max-width: 355px;
}
@media screen and (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}
.card > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.card__image {
  height: 200px;
  width: 200px;
  background: #757575;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.card__name {
  font-family: "DM Sans";
  font-size: 36px;
  font-weight: 400;
  line-height: 46.87px;
  color: #D3573C;
  text-align: center;
}
.card__location {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 16.93px;
  color: #901C1C;
}
.card__description {
  margin-top: 3px;
  font-family: "DM Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  color: black;
}
.card__price {
  margin-top: 3px;
  margin-bottom: 6px;
  font-family: "DM Sans";
  font-size: 9px;
  font-weight: 400;
  line-height: 11.72px;
  color: #757575;
}
.card__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
