.tag{
    font-size: 12px;
    font-family: "DM Sans";
    font-weight: 500;
    color: $colorPrimary;

    border: solid 1px $colorTertiary;
    border-radius: 20px;
    padding: 0 3px 0 3px;

    margin-bottom: 6px;

    cursor: pointer;

    &:not(:first-child){
        margin-left: 5px;
    }

    &--active{
        background: $colorPrimary;
        border: solid 1px $colorPrimary;
        color: white;
    }
}